# Visual Studio files
.vs/
*.user
*.aps
*.ncb
*.suo
*.tlog
*.dbmdl
*.VC.db
*.VC.opendb
*.opendb
*.db

# Build artifacts
bin/
bin64/
obj/
*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.idb
*.iobj
*.ipdb
Debug/
Release/
x64/
x86/
*.log
*.zip
curl/

# vcpkg
vcpkg_installed/
vcpkg-export-*/
.vcpkg-root